body {
    margin: auto;
}

#logo {
  width: 100%;
  height: 30px;
  background-color: #5d96c9;
}

#logoImg {
  height: 30px;
  width: 35px;
  margin-left: 10px;
  background: url(Weebly-Logo.png) 0 -3px;
}

#navbar {
    width: 210px;
    height: 700px;
    background-color: #22426d;
    float: left;}

#templatesItem {
margin: 20px 10px;
}

#item {
  margin: 10px 10px;
}

.btn-sm, .btn-group-sm>.btn {
padding: 5px 54px;
font-size: 11px;
line-height: 1.5;
border-radius: 3px;
}

.glyphicon {
margin: 2px;
}

p {
  color: white;
font-size: medium;
font-weight: 400;
}

#navTitle {
margin-top: .5px;
padding: 5px;
text-align: center;
height: 25px;
background-color: gray;
font-size: small;
font-weight: bold;
}

#draggable{
margin: auto;
margin: 20px 20px;
}

#textImg {
width: 47px;
height: 50px;
background: url(sprite.png) 147px -5px;
cursor: move;
}

#text{
  float: left;
  text-align: center;
}

#imgImg {
width: 47px;
height: 50px;
background: url(sprite.png) -99px -5px;
cursor: move;
}

#image {
  float: right;
  text-align: center;
}

#content {
    margin-left: 210px;
    height: 700px;
    background: #F7F6EE;
    padding: 30px 60px;
}
